// rBase scss
*{
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    
}

body {
    font-family: Raleway, Lato, Helvetica, Arial, sans-serif;
    font-size: $m-size;
    background: #cee3f1;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.content-container {
    margin: 0 auto;
    max-width: 115rem;    

}
