//colors
$light-Blue: #a9dff7;
$blue: #0EA5DC;
$dark-blue: #0873a0;
$red-error: #ebc0c0;
$redDark-error: #db7f7f;

//font

//spacing
$xs-size: 0.8rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;


//grid
$grid__cols: 12;

